@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    margin: 0;
    background-color: #F5F5F5;
    font-family: Inter;
}


.test_list_container{
    min-height: 701px;
    flex-shrink: 0;
    margin-top: 41px;
    margin-left: 30px;
    margin-right: 30px;
}

.test_list_container img{
    width: 172px;
    height: 101px;
    flex-shrink: 0;
    border-radius: 35px;
    margin-right: 20px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.test_list_element{
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;

}

.test_name{
    max-width: 1378px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 35px;
    background: #BBE1FA;  
    text-align: start;
    font-size: 60px;
    padding-left: 69px;
    padding-right: 69px;
    margin-right: 20px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}

.test_score{
    max-width: 275px;
    height: 100px;
    margin-left: auto;
    border-radius: 35px;
    background: #BBE1FA;  
    text-align: start;
    font-size: 60px;
    padding-left: 69px;
    padding-right: 69px;
    box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.25);
}
.pagination_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination_list button{
    width: 100px;
    height: 100px;
    background: none;
    background-image: url("img/Vector\ 7.png");
    margin: 46px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
}
