@font-face {
    font-family: Inter;
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}
body{
    font-family: Inter;
    font-size: 32px;
    text-align: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap : 20px;
}
.main_block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 30px;
    padding: 20px;
    margin: 20px 0px;
    background-color: #D9D9D9;
    width : 90%; 
}
button{
    flex-shrink: 0;
    width: 80px;
    height: 160px;
    background: none;
    border: none;
}
.button__img{
    width: 100%;
    height: 100%;
}

#text{width: 84%;}
#page_number{font-size: 40px;}

#screen img{
    width: 80%;
    height: 80%;
}