body {
    margin: 0;
    color: #000;
    font-family: Inter;
    color: #000;
    font-size: 24px;
    font-style: normal;
    line-height: normal;

    display: flex;
    height: 100vh;
    flex-direction: column;
}

body{
    --thumb-color-percent: 50%
}

body::-webkit-scrollbar {
    width: 6px;
    /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
    background: none;
}

body::-webkit-scrollbar-thumb {
    /* background-color: #0F4C75; */
    background-image: linear-gradient(180deg,
            #c2c2c2 0%,
            #0F4C75 var(--thumb-color-percent),
            #c2c2c2 100%);
    border-radius: 20px;
}

main {
    flex-grow: 1;
}

header,
footer {
    flex-shrink: 0;
}

p,
h3 {
    margin: 0;
}

main {
    padding-top: 74px;
    padding-bottom: 74px;
    display: flex;
    flex-direction: column;
    gap: 74px;
    align-items: center;
}

.quizPannel {
    outline: 0.5rem;
    border-radius: 60px 60px 0 0;
    position: relative;
    transition: color 0.3s;
    text-decoration: none;
    flex: 0 0 auto;
    width: calc((100% / 3) - (48px / 3));
    transition: transform 0.2s;
}

.quizPannel:hover {
    color: gray;
    display: block;
    transform: scale(1.03);
}

.quizPannel:hover img {
    box-shadow: 0 4px 30px rgba(255, 0, 0, 0.5);
    filter: brightness(40%);
}

.quizPannel:hover .hiddenText {
    display: block;
    position: absolute;
    opacity: 1;
}

.hiddenTextDiv {
    overflow: hidden;
}

.hiddenText {
    display: none;
    top: 0%;
    left: 0%;
    padding: 20px;
    color: #FFF;
    font-weight: 500;
    font-size: 1.3vw;
}

.quizPannel img {
    width: 100%;
    border-radius: 3.90625vw;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
    aspect-ratio: 1.702127659574468;
}

.quizPannel .title {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    color: #000;
}

.quiz-content {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 175px;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}

.quizContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    width: 100%;
}

.filter {
    width: 100%;
    height: 116px;
    border-radius: 60px;
    background: #BBE1FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.filter__title {
    padding-left: 147px;
    font-size: 1.666667em;
    font-weight: 800;
    margin: 0;
}

.filter__tags {
    display: flex;
    flex-direction: row;
    gap: 49px;
    padding-right: 146px;
}

.filter__tag {
    border-radius: 36px;
    background: #0F4C75;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.25);
    display: inline-block;
    transition: transform 0.2s;
    cursor: pointer;
}

.filter__tag:hover {
    background: #125e90;
    box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25);
    transform: scale(1.03);
}

.filter__tag-selected {
    background: #3282B8;
    box-shadow: none
}

.filter__tag-selected:hover {
    background: #3282B8;
    box-shadow: none;
    transform: scale(1);
}

.filter__tag p {
    color: #FFF;
    margin: 0;
    text-align: center;
    font-family: Inter;
    font-size: 1.666667em;
    font-weight: 500;
    padding: 8px 20px;
}

.best-testes {
    border-radius: 60px;
    background: #BBE1FA;
    /* height: 603px; */
    padding-bottom: 32px;
    padding-top: 8px;
    width: 100%;
    filter: drop-shadow(0px 8px 4px rgba(0, 0, 0, 0.25));
}

.best-testes__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.best-testes__slider-button {
    width: 81px;
    height: 154px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    z-index: 10;
    flex: 0 1 5%;

}

.best-testes__arrow {
    width: 100%;
    height: 100%;
    transition: transform 0.2s;

}

.best-testes__slider-button:hover .best-testes__arrow {
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));
    transform: scale(1.03);
}

.best-testes__quiz-container {
    display: flex;
    overflow: hidden;
    width: calc(83.333333333333333vw + 24px);
}

.best-testes__quiz-line {
    display: flex;
    flex-direction: row;
    gap: 24px;
    position: relative;
    left: 0;
    transition: left ease 0.5s;
}

.best-testes__title h1 {
    margin: 0;
    color: #000;
    text-align: center;
    font-size: 2em;
    font-weight: 800;
}

.best-testes__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
    align-items: center;
    padding-top: 24px;
    padding-left: 16px;
    padding-right: 16px;
}

.best-testes__quiz-pannel {
    width: 41.666vw;
    height: 24.479vw;
    /* max-height: 470px; */
    /* max-width: 800px; */
    background-image: url("img/icons/EmptyIcon.png");
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

}

.best-testes__quiz-pannel p {
    padding-left: 13px;
    padding-bottom: 18px;
    margin: 0;
    color: #000;
    font-weight: 500;
    flex: 0 1 50%;
    text-shadow:
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white,
        0px 0px 20px white;
}

.best-testes__quiz-pannel a {
    margin-right: 23px;
    margin-bottom: 18px;
    /* width: 310px;
    height: 67px; */
    width: 20.182291666666668vw;
    height: 4.361979166666667vw;
    fill: #0F4C75;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    background-image: url(img/Vector\ 3.svg);
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 2.34375vw;
    font-weight: 800;

    transition: transform 0.2s;
}

.best-testes__quiz-pannel a:hover {
    color: #c2e2f7;
    transform: scale(1.03);
    /* box-shadow: 0px 4px 5px 2px rgba(0, 0, 0, 0.25); */
}