@media screen and (max-width: 1820px) {

    .filter__title {
        padding-left: 50px;
    }

    .filter__tags {
        gap: 20px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 1536px) {
    body {
        font-size: 19.2px;
    }

    main {
        gap: 59.2px;
        padding-top: 59.2px;
        padding-bottom: 59.2px;
    }

    .best-testes__title {
        gap: 12.8px;
    }

    .best-testes__title img {
        width: 64px;
        height: 64px;
    }

    .filter {
        height: 92.8px;
    }

    .filter__title {
        padding-left: 44px;
    }

    .filter__tag p {
        padding: 6.4px 16px;
    }

    .filter__tags {
        padding-right: 45px;
    }

    .pagination {
        height: 59.2px;
        width: auto;
        gap: 16px;
    }

    #pagination__buttons{
        gap: 16px;
    }

    .pagination__button {
        width: 59.2px;
        height: 59.2px;
        border-radius: 6.4px;
    }

    .quiz-content {
        padding: 0 140px;
    }

    .hiddenText {
        padding: 16px;
    }
}

@media screen and (max-width: 1250px) {
    body {
        font-size: 14px;
    }

    .best-testes__title img {
        width: 50px;
        height: 50px;
    }

    .pagination__button {
        width: 55px;
        height: 55px;
    }

    .filter {
        height: 70px;
    }

    .filter__title {
        padding-left: 25px;
    }

    .filter__tag p {
        padding: 5px 10px;
    }

    .filter__tags {
        gap: 12px;
        padding-right: 25px;
    }

    .quiz-content {
        padding: 0 100px;
    }

    .hiddenText {
        padding: 14px;
    }
}

@media screen and (max-width: 900px) {

    main {
        gap: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .quiz-content {
        padding: 0 30px;
    }

    .pagination__button {
        width: 40px;
        height: 40px;
    }

    .pagination__button {
        border-radius: 5px;
    }

    .filter {
        height: 70px;
        font-size: 12px;
    }

    .filter__title {
        padding-left: 15px;
    }

    .filter__tag p {
        padding: 5px 10px;
    }

    .filter__tags {
        gap: 12px;
        padding-right: 15px;
    }

    .best-testes__quiz-container {
        height: 100%;
        width: auto;
        aspect-ratio: 1.702127659574468;
    }

    .best-testes__quiz-pannel {
        height: 100%;
        width: auto;
        aspect-ratio: 1.702127659574468;
    }

    .best-testes__content {
        padding-top: 16px;
    }

    .best-testes__slider-button {
        flex: 0 1 10%;
    }

    .best-testes__quiz-container{
        width: auto;
        flex: 1 1 80%;
    }

    .hiddenText {
        padding: 10px;
        font-size: 1.35vw;
    }
}


@media screen and (max-width: 650px) {
    main {
        gap: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .filter {
        flex-direction: column;
        justify-content: center;
        font-size: 8px;
        height: auto;
    }

    .filter__tags {
        gap: 8px;
        padding: 0 10px 5px;
    }

    .filter__title {
        padding: 5px 0px 5px;
    }

    .quiz-content {
        padding: 0 15px;
    }

    .best-testes__slider-button {
        /* display: none; */
        position: absolute;
    }

    .arrow-left {
        left: 35px;
    }

    .arrow-right {
        right: 35px;
    }

    .best-testes {
        border-radius: 30px;
        padding-bottom: 0;
    }

    .best-testes__title img {
        width: 40px;
        height: 40px;
    }

    .best-testes__content {
        padding: 6px 15px 12px;
    }

    .best-testes__quiz-container{
        border-radius: 30px;
    }

    .best-testes__slider-button {
        width: 40.5px;
        height: 77px;
    }

    .best-testes__quiz-pannel {
        border-radius: 30px;
    }

    .best-testes__quiz-pannel p {
        padding-left: 17px;
        padding-bottom: 17px;
    }

    .best-testes__quiz-pannel a {
        margin-right: 17px;
        margin-bottom: 17px;
        width: 155px;
        height: 33.5px;
        font-size: 1.2em;
    }

    .quizPannel {
        width: calc((100% / 2) - (9px));
    }

    .quizContainer {
        gap: 18px;
    }

    .hiddenText {
        padding: 8px;
        font-size: 2.4vw;
    }
}

@media screen and (max-width: 450px) {

    .pagination {
        gap: 10px;
    }

    #pagination__buttons{
        gap: 10px;
    }

    .pagination__button {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        font-size: 1.5em;
    }
    
    .arrow-left {
        left: 17px;
    }

    .arrow-right {
        right: 17px;
    }


    .best-testes__quiz-pannel p {
        padding-left: 12px;
        padding-bottom: 12px;
    }

    .best-testes__quiz-pannel a {
        margin-right: 12px;
        margin-bottom: 12px;
    }
}